[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true"
Environment="KUBELET_SYSTEM_PODS_ARGS=--pod-manifest-path=/etc/kubernetes/manifests --allow-privileged=true"
Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --network-plugin-dir=/usr/local/etc/cni/net.d"
Environment="KUBELET_DNS_ARGS=--cluster-dns=100.64.0.2 --cluster-domain=cluster.local"
Environment="KUBELET_EXTRA_ARGS=--v=4"
ExecStartPre=-/bin/mkdir --verbose --parents /opt/cni
ExecStartPre=-/bin/mount --verbose --bind /usr/local/lib/cni /opt/cni
ExecStartPre=-/bin/mkdir --verbose --parents /etc/cni
ExecStartPre=-/bin/mount --verbose --bind /usr/local/etc/cni /etc/cni
ExecStart=/usr/local/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_SYSTEM_PODS_ARGS $KUBELET_NETWORK_ARGS $KUBELET_DNS_ARGS $KUBELET_EXTRA_ARGS
ExecStopPost=-/bin/umount --verbose /opt/cni
ExecStopPost=-/bin/umount --verbose /etc/cni
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
